<!DOCTYPE HTML>
<html>
<head>
  <title>Flask-SocketIO Test</title>
  <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
  <style>
    .grid-cell {
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 0;
      font-size: small;
    }
    .tunnel {
      background-color: #2d3148;
    }
    .ground {
      background-color: #2c2c38;
      /*background-color: #8c8585;*/
    }
  </style>

  <script src="/assets/jquery.js"></script>
  <script src="/assets/socket.js"></script>
  <script src="/assets/vue.js"></script>

  <script>
  var dx = [0, 0, 1, -1]
  var dy = [1, -1, 0, 0]

    $().ready(() => {
      // INIT VUE
      var app = new Vue({
        el: '#el',
        data: {
          messages: [],
          showReading: true,
          showRobots: true,
          grid: [
            "#########################",
            "#########################",
            "#############...#########",
            "#############...#########",
            "##############.##########",
            "########..........#######",
            "########.########.#######",
            "########.########.#######",
            "##..####.########.#######",
            "##.......########.#######",
            "##..##.##########.##..###",
            "######.##########.....###",
            "######.##########.##..###",
            "######.##########.#######",
            "######.###........#######",
            "##..##.###.######.#######",
            "##.....###.#####...######",
            "##..##.###.#####...######",
            "######.###.##############",
            "######.##...#############",
            "######.##...#############",
            "######.##############..##",
            "######.................##",
            "######.##############..##",
            "#####...#################",
            "#####...#################",
            "#########################",
            "#########################"
            // "###.#",
            // "#...#",
            // "###.#",
            // "###.#",
            // "#...#",
          ],
          generated: [],
          robots: [
            { i: 22, k: 9 }
          ],
          sensors: ['Temperature', 'Humidity', 'Methan', 'H2S', 'Sound Intensity', 'Proximity']
        },
        computed: {
          movingRobot () {
            return this.robots[0]
          }
        },
        methods: {
          getClass (i, k) {
            return {
              tunnel: this.grid[i][k] == '.',
              ground: this.grid[i][k] != '.'
            }
          },
          generateRandValues (x, y) {
            // x,y: initial cell node

            // initializing visited array
            var vis = [];
            for(var i= 0; i< this.grid.length; i++){
              var tmp= [];
              for(var j= 0; j< this.grid[0].length; j++){
                tmp.push(false);
              }
              vis.push(tmp);
            }


            // initializing generated number array
            for(var i= 0; i< this.grid.length; i++){
              var tmp= [];
              for(var j= 0; j< this.grid[0].length; j++){
                tmp.push(-1);
              }
              this.generated.push(tmp);
            }
            this.generated[x][y] = init_value
            dfs(this.generated, this.grid, vis, x, y, true, [0], 0)
          },
          getRandomStart () {
            var tunnels= []
            for(var i= 0; i< this.grid.length; i++){
              for(var j= 0; j< this.grid[0].length; j++){
                if(this.grid[i][j] == '.'){
                  tunnels.push({x: i, y: j});
                }
              }
            }
            return tunnels[Math.floor(Math.random()*tunnels.length)];
          },
          randomizeReading () {
            // To generate the random number 2d array, the parameters should be a tunnel cell

            // initializing generated number array
            for(var i= 0; i< this.grid.length; i++){
              var tmp= [];
              for(var j= 0; j< this.grid[0].length; j++){
                tmp.push(-1);
              }
              this.generated.push(tmp);
            }

            for(var i= 0; i< this.grid.length; i++){
              for(var j= 0; j< this.grid[0].length; j++){
                if(this.grid[i][j] == '.'){
                  this.generated[i][j]= -3*Math.log(Math.random());
                }
              }
            }
          },
          cellContainsRobot (i, k) {
            return this.robots.reduce((acc, r) => acc || r.i == i && r.k == k, false)
          },
          keyDown (event) {
            var newI = this.movingRobot.i
            var newK = this.movingRobot.k
            if (event.key == 'ArrowUp') newI -= 1
            if (event.key == 'ArrowDown') newI += 1
            if (event.key == 'ArrowRight') newK += 1
            if (event.key == 'ArrowLeft') newK -= 1

            if (this.isValidMovingCell(newI, newK)) {
              this.movingRobot.i = newI
              this.movingRobot.k = newK
            }
          },
          isValidMovingCell (i, k) {
            return this.grid[i][k] == '.'
          },
          maxArrayValue (array) {
            return Math.max(...[].concat.apply([], array))
          },
          minArrayValue (array) {
            return Math.min(...[].concat.apply([], array))
          },
          ratio (i, k) {
            max = this.maxArrayValue(this.generated)
            min = this.minArrayValue(this.generated)

            var curr = this.generated[i][k]

            var range = max - min
            var diffFromMin = curr - min

            return diffFromMin / range
          },
          dfs(x, y, vis) {
            vis[x][y] = true
            for(var i = 0; i < 4; i++){
              var u = x + dx[i];
              var v = y + dy[i];
              if (isValidMovingCell(u, v)) {
                this.movingRobot.i += dx[i]
                this.movingRobot.k += dy[i]
                setTimeout((u, v, vis) => this.dfs(u,v,vis) , 500)
                // this.movingRobot.i-= dx[i]
                // this.movingRobot.k-= dy[i]
              }
            }
          },
          makeColor (color) {
            return '#' + ('00000' + (color | 0).toString(16)).substr(-6);
          },
          dfsAfterTime () {

          }
        },
        created () {
          this.randomizeReading()

          // for(var i= 0; i< this.grid.length; i++){
            // console.log(this.grid[i])
          // }

          // for(var i= 0; i< this.grid.length; i++){
            // console.log(this.generated[i])
          // }

          // var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

          // socket.emit('new-connection')
          // socket.on('readings', (data) => {
          //   console.log(data)
          //   this.messages.push(data)
          // });

          // var ping_pong_times = [];
          // var start_time;
          // window.setInterval(function() {
          //   start_time = (new Date).getTime();
          //   socket.emit('my_ping');
          // }, 1000);
          // socket.on('my_pong', function() {
          //   var latency = (new Date).getTime() - start_time;
          //   ping_pong_times.push(latency);
          //   console.log(latency)
          //   ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
          //   var sum = 0;
          //   for (var i = 0; i < ping_pong_times.length; i++)
          //       sum += ping_pong_times[i];
          //   $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
          // });
        },
        mounted () {
          window.addEventListener('keydown', event => {
            this.keyDown(event)
          })
        }
      })
    });
  </script>
</head>
<body>
  {% raw %}
    <div class="container" style="padding-top: 40px" id="el">

      <div class="row">
        <div class="col-xs-5">
          <div class="row">
            <div class="row" v-for="(row, i) in grid">
              <div v-for="(cell, k) in row">
                <div class="grid-cell" style="float: left; color: white" :class="getClass(i, k)">
                  <div class="reading" style="width: 100%; height: 100%;">
                    <div v-if="showReading && grid[i][k] == '.'"
                         style="width: 100%; height: 100%;"
                         :style="{ 'background-color': 'rgb(' + (Math.round(255.0 * ratio(i, k))) + ', 0, 0)' }">
                      <div v-if="showRobots && cellContainsRobot(i, k)" style="width: 17px;">
                        <img style="width: inherit;" src="http://www.clipartkid.com/images/6/robot-clip-art-book-covers-feJCV3-clipart.png">
                      </div>
                      {{ Math.round(generated[i][k]) }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Sensor Readings</h3>
            </div>
            <div class="panel-body">
              <div class="radio">
                <label class="radio" v-for="(sensor, id) in sensors">
                  <input type="radio" name="sensors" @click="randomizeReading()"> {{ sensor }}
                </label>
              </div>
            </div>
          </div>
          <!-- <button class="btn btn-primary" @click="randomizeReading()">Generate</button> -->
        </div>
      </div>

      <div class="row">
        <ul>
          <li v-for="(message, messageId) in messages">
            {{ message }}
          </li >
        </ul>
      </div>
    </div>
  {% endraw %}
</body>
</html>