<!DOCTYPE HTML>
<html>
<head>
  <title>Flask-SocketIO Test</title>
  <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
  <style>
    .grid-cell {
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 0;
      font-size: small;
    }
    .tunnel {
      background-color: #2d3148;
    }
    .ground {
      background-color: #020206;
    }
  </style>

  <script src="/assets/jquery.js"></script>
  <script src="/assets/socket.js"></script>
  <script src="/assets/vue.js"></script>

  <script>
  var dx= [0,0,1,-1]
  var dy= [1,-1,0,0]
    $().ready(() => {
      // INIT VUE
      var app = new Vue({
        el: '#el',
        data: {
          messages: [],
          showReading: false,
          showRobots: true,
          grid: [
            "#########################",
            "#########################",
            "#############...#########",
            "#############...#########",
            "##############.##########",
            "########..........#######",
            "########.########.#######",
            "########.########.#######",
            "##..####.########.#######",
            "##.......########.#######",
            "##..##.##########.##..###",
            "######.##########.....###",
            "######.##########.##..###",
            "######.##########.#######",
            "######.###........#######",
            "##..##.###.######.#######",
            "##.....###.#####...######",
            "##..##.###.#####...######",
            "######.###.##############",
            "######.##...#############",
            "######.##...#############",
            "######.##############..##",
            "######.................##",
            "######.##############..##",
            "#####...#################",
            "#####...#################",
            "#########################",
            "#########################"
            // "###.#",
            // "#...#",
            // "###.#",
            // "###.#",
            // "#...#",
          ],
          generated: [],
          robots: [
            { i: 22, k: 9 }
          ]
        },
        computed: {
          movingRobot () {
            return this.robots[0]
          }
        },
        methods: {
          getClass (i, k) {
            return {
              tunnel: this.grid[i][k] == '.',
              ground: this.grid[i][k] != '.'
            }
          },
          randomizeValue () {
            // To generate the random number 2d array, the parameters should be a tunnel cell

            // initializing generated number array
            for(var i= 0; i< this.grid.length; i++){
              var tmp= [];
              for(var j= 0; j< this.grid[0].length; j++){
                tmp.push(-1);
              }
              this.generated.push(tmp);
            }

            for(var i= 0; i< this.grid.length; i++){
              for(var j= 0; j< this.grid[0].length; j++){
                if(this.grid[i][j] == '.'){
                  this.generated[i][j]= -3*Math.log(Math.random());
                }
              }
            }
          },
          cellContainsRobot (i, k) {
            return this.robots.reduce((acc, r) => acc || r.i == i && r.k == k, false)
          },
          keyDown (event) {
            var newI = this.movingRobot.i
            var newK = this.movingRobot.k
            if (event.key == 'ArrowUp') newI -= 1
            if (event.key == 'ArrowDown') newI += 1
            if (event.key == 'ArrowRight') newK += 1
            if (event.key == 'ArrowLeft') newK -= 1
            if(event.key == 'Enter'){
              vis= []
              for(var i= 0; i< this.grid.length; i++){
                tmp= []
                for(var j= 0; j< this.grid[0].length; j++){
                  tmp.push(false)
                }
                vis.push(tmp)
              }

              this.dfs(this.movingRobot.i, this.movingRobot.k, vis)
            }

            if (this.isValidMovingCell(newI, newK)) {
              this.movingRobot.i = newI
              this.movingRobot.k = newK
            }
          },
          isValidMovingCell (i, k) {
            return this.grid[i][k] == '.'
          },
          dfs(x,y,vis){
            vis[x][y]= true
            for(var i= 0; i< 4; i++){
              var u= x+dx[i];
              var v= y+dy[i];
              if(u<this.grid.length && u>=0 && v<this.grid[0].length && v>=0 && !vis[u][v] && this.grid[u][v]=='.'){
                this.movingRobot.i += dx[i]
                this.movingRobot.k += dy[i]
                // console.log('hey nabil')
                setTimeout(() => this.dfs(u,v,vis) , 500)
                // this.movingRobot.i-= dx[i]
                // this.movingRobot.k-= dy[i]
              }
            }
          }

        },
        created () {
          this.randomizeValue()

          for(var i= 0; i< this.grid.length; i++){
            console.log(this.grid[i])
          }

          for(var i= 0; i< this.grid.length; i++){
            console.log(this.generated[i])
          }

          // var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

          // socket.emit('new-connection')
          // socket.on('readings', (data) => {
          //   console.log(data)
          //   this.messages.push(data)
          // });

          // var ping_pong_times = [];
          // var start_time;
          // window.setInterval(function() {
          //   start_time = (new Date).getTime();
          //   socket.emit('my_ping');
          // }, 1000);
          // socket.on('my_pong', function() {
          //   var latency = (new Date).getTime() - start_time;
          //   ping_pong_times.push(latency);
          //   console.log(latency)
          //   ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
          //   var sum = 0;
          //   for (var i = 0; i < ping_pong_times.length; i++)
          //       sum += ping_pong_times[i];
          //   $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
          // });
        },
        mounted () {
          window.addEventListener('keydown', event => {
            this.keyDown(event)
          })
        }
      })
    });
  </script>
</head>
<body>
  {% raw %}
    <div class="container" style="padding-top: 40px" id="el">

      <div class="row">
        <div class="row" v-for="(row, i) in grid">
          <div v-for="(cell, k) in row">
            <div class="grid-cell" style="float: left; color: red" :class="getClass(i, k)">
              <div v-if="showReading" v-if="grid[i][k] == '.'" class="reading">
                {{ Math.round(generated[i][k]) }}
              </div>
              <div v-if="showRobots && cellContainsRobot(i, k)" style="width: 17px;">
                <img style="width: inherit;" src="http://www.clipartkid.com/images/6/robot-clip-art-book-covers-feJCV3-clipart.png">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row options">
        <button class="btn btn-primary" @click="randomizeReading()">Generate</button>
      </div>

      <div class="row">
        <ul>
          <li v-for="(message, messageId) in messages">
            {{ message }}
          </li >
        </ul>
      </div>
    </div>
  {% endraw %}
</body>
</html>