<!DOCTYPE HTML>
<html>
<head>
  <title>Flask-SocketIO Test</title>
  <script src="/assets/jquery.js"></script>
  <script src="/assets/socket.js"></script>
  <script src="/assets/vue.js"></script>

  <script>
    $().ready(() => {
      // INIT VUE
      var app = new Vue({
        el: '#el',
        data: {
          asd: 'zxc',
          messages: []
        },
        created () {
          var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

          socket.emit('new-connection')
          socket.on('readings', (data) => {
            console.log(data)
            this.messages.push(data)
          });

          var ping_pong_times = [];
          var start_time;
          window.setInterval(function() {
            start_time = (new Date).getTime();
            socket.emit('my_ping');
          }, 1000);
          socket.on('my_pong', function() {
            var latency = (new Date).getTime() - start_time;
            ping_pong_times.push(latency);
            console.log(latency)
            ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
            var sum = 0;
            for (var i = 0; i < ping_pong_times.length; i++)
                sum += ping_pong_times[i];
            $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
          });
        }
      })
    });
  </script>
</head>
<body>
  {% raw %}
    <div id="el">
      {{ asd }}
      <ul>
        <li v-for="(message, messageId) in messages">
          {{ message }}
        </li >
      </ul>
    </div>
  {% endraw %}
</body>
</html>